body {
  width: 400px;
  margin: 10px auto;
  border: 2px solid black;
  padding: 20px;
}

h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
  text-decoration: underline;
}

p {
  font-family: 'Barlow', sans-serif;
  padding-left: 20px;
}

form {
  display: flex;
}

input {
  font-family: 'Barlow', sans-serif;
  width: 200px;
  margin: 0 10px;
  height: 35px;
  font-size: 14px;
  padding: 0 5px;
  border: 1px solid black;
  border-radius: 2px;
}

button {
  font-family: 'Barlow', sans-serif;
  height: 36px;
  width: 90px;
  margin: 0 5px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 12px;
}

button:hover {
  background-image: linear-gradient(to bottom right, white, pink);
}

.pomodoro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.timerButton {
  margin-bottom: 20px;
}

.timerButton::after {
  style: none;
}

.timer {
  margin-left: -25px;
  margin-top: -5px;
  font-size: 25px;
}

.todo.true {
  text-decoration: line-through;
  color: lightgray;
}

.todo:hover {
  color: pink;
}

.collaboration {
  font-size: 10px;
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
  color: black;
  padding-left: 10px;
  margin-top: 50px;
}

.collaboration:hover {
  color: pink
}
