body {
  width: 400px;
  margin: 10px auto;
  border: 2px solid black;
  padding: 20px;
}

h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
  text-decoration: underline;
}

p {
  font-family: 'Barlow', sans-serif;
  padding-left: 20px;
}

form {
  display: flex;
}

input {
  font-family: 'Barlow', sans-serif;
  width: 200px;
  margin: 0 10px;
  height: 35px;
  font-size: 14px;
  padding: 0 5px;
  border: 1px solid black;
  border-radius: 2px;
}

button {
  font-family: 'Barlow', sans-serif;
  height: 36px;
  width: 90px;
  margin: 0 5px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 12px;
}

button:hover {
  background-image: linear-gradient(to bottom right, white, pink);
}

.todo.true {
  text-decoration: line-through;
  color: lightgray;
}

.todo:hover {
  color: pink;
}
